/* COLOR PALETTE 
#0D0D0D - black
#F2F22 - white
#7ABFBF - blue
#rgba(122, 191, 191, .5)
#eb5428 */

h1 {
    font-family: "Bebas Neue - Regular", Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h2 {
    font-family: "Bebas Neue - Regular", Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h3 {
    font-family: "Bebas Neue - Regular", Arial, Helvetica, sans-serif;
    font-size: 25px;
}

nav > a {
    font-size: 20px;
}
nav > span {
    font-size: 20px;
}
menu > li {
    font: 20px;
}
#social > li {
    font-size: 20px;
}
footer {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: "Montserrat - Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

dt {
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
}




@import url("https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400");







/* MOBILE STYLES */
nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}